body {
  font-family: 'LunchType-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.section {
  min-height: 100vh;
  /* this enables flexbox (the modern layout mode in css) */
  display: flex;
}

/* here we have a little helper class that adds padding to our sections
that can be reused and just does one thing */
.section-pad {
  padding-left: 5vw;
  padding-right: 5vw;
}

.container {
  max-width: 810px;
  /* this will center our box like magic! */
  margin: auto;
}

.intro {
  background-color: #111;
  background-image: url(intro.jpg);
  color: #fff;
}

.intro p {
  font-size: 36px;
  line-height: 1.2;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 112px;
}

.logo img {
  width: 100%;
}

/* another helper/utility class */
.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}

.appear {
  /* here we set the opacity as a starting point*/
  opacity: 0;
  /* here we include the animation name */
  animation-name: fadeIn;
  /* set a duration and delay */
  animation-duration: 3s;
  animation-delay: 2s;
  /* make sure the end state stays the same */
  animation-fill-mode: forwards;
}

.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  /* each letter will be 5% of the viewport width (vw) */
  font-size: 5vw;
  line-height: 1;
  /* this will stop the long text from causing scroll bars by hanging
  outside of the marquee box area */
  overflow: hidden;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000vw);
  }
}

.marquee span {
  /* this is the shorthand (brief) version of the animation css rule */
  animation: moveLeft 250s infinite;
  /* this will ensure the text stays all on the same line*/
  white-space: nowrap;
  /* our span is inline by default, so here we tell it to be block*/
  display: block;
  /* this will let us add our animation */
  position: relative;
}

.mix-difference {
  /* our mix blend mode allows us to mix the current layer’s style/colors with that 
  of what’s behind it to create some really cool effects */
  mix-blend-mode: difference;
}

.day-1 {
  background-color: #fd76a7;
}

.day-2 {
  background-color: #1bb190;
}

.day-3 {
  background-image: url(day-3.jpg);
}

.day {
  /* so our shapes position in relation to our day sections */
  position: relative;
  text-align: center;
  overflow: hidden;
}

.day .container {
  /* this will force our content to display on top of our shapes */
  position: relative;
  z-index: 2;
}

.date {
  font-size: 28px;
  color: #ffeecf;
  margin-bottom: 48px;
  line-height: 1;
}

.lineup h2 {
  font-size: 56px;
  line-height: 1;
  margin-bottom: 6px;
}

.lineup p {
  font-size: 21px;
}

.lineup li {
  margin-bottom: 24px;
}

.scroll-to {
  position: absolute;
  left: 50%;
  bottom: 3vh;

  width: 64px;
  height: 32px;

  background-image: url(down-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  transform: translateX(-50%);
}

.scroll-to-intro {
  background-image: url(down-arrow-light.svg);
}

@media (max-width: 640px) {
  .marquee {
    /* here we rest our marquee back to its default position */
    position: relative;
    top: auto;
    left: auto;
    width: 90vw;
    margin-bottom: 24px;
  }

  .logo {
    max-width: 64px;
    margin-bottom: 24px;
  }

  .intro p {
    font-size: 20px;
  }

  .scroll-to {
    display: none;
  }

  .lineup h2 {
    font-size: 30px;
  }
}
